body {
    height: 100%;
    width: 100%;
    background-color: rgb(33, 33, 86);
    ;
    align-items: center;
    justify-items: center;
    justify-content: center;
    margin: 0px;
    padding: 0px;
    color: #ffffff;
    background-position: center;
}

.center-form {
    width: 230px;
    background-color: rgb(37, 88, 199);
    text-align: center;
    margin: auto;
    padding: 0px 0px 20px 0px;
    border: 2px;
    border-color: mediumblue;
    border-radius: 5px;
}

.text {
    width: 190px;
    height: 40px;
    border-radius: 7px;
    border-color: black;
    margin: 20px 0px 20px 0px;
    border-style: ridge;
    background-color: rgb(72, 164, 181);
    color: #ffffff;
    text-align: right;
    font-size: 29px;
}

.calc-button {
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    border-style: ridge;
}

.calc-button-double {
    background-color: darkgreen;
    color: #ffffff;
    width: 90px;
    height: 40px;
    font-size: 15px;
    margin: 4px;
    border-color: black;
    text-align: center;
    border-style: ridge;
    border-radius: 5px;
}

.calc-red {
    background-color: darkred;
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    border-style: ridge;
}

.calc-yellow {
    background-color: goldenrod;
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
}

.calc-blue {
    background-color: rgb(12, 12, 84);
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    border-style: ridge;
}

.calc-aqua {
    background-color: rgb(72, 164, 181);
    color: #ffffff;
    width: 40px;
    height: 40px;
    font-size: 15px;
    border-radius: 5px;
    margin: 4px;
    text-align: center;
    border-style: ridge;
}

.btn:hover {
    background-color: hotpink;
    cursor: pointer;
}

.oneclick